<div class="jumbotron">
    <h2>Claim Process Web API</h2>
    <p class="lead">This API will be useful to manage claims. You can create update, delete and retrieve claims with various filters.</p>
    
    <br>
    @Html.ActionLink("Show Documentaion", "Index", "Help", new { area = "" }, null)
</div>
